/* From uiverse.io by @westitan */
/* //Effecto liquido */
Button {
    position: relative;
    padding: 19px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
}

Button span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

Button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #4973ff !important;
    /* background: #4973ff; */
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

Button .liquid::after,
Button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

Button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

Button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

Button:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {

        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


/* From uiverse.io green */
.buttonGreen {
    padding: 1.3em 3em !important;
    font-size: 12px !important;
    /* text-transform: uppercase; */
    /* letter-spacing: 2.5px; */
    /* font-weight: 500; */
    color: rgb(255, 255, 255) !important;
    background-color: #000000 !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1) !important;
    transition: all 0.3s ease 0s !important;
    cursor: pointer !important;
    outline: none !important;
}

.buttonGreen:hover {
    /* background-color: #2EE59D !important; */
    background-color: #2e8baf !important;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4) !important; */
    box-shadow: 0px 15px 20px rgba(27, 101, 154, 0.4) !important;
    color: #fff !important;
    transform: translateY(-7px) !important;
}

.buttonGreen:active {
    transform: translateY(-1px) !important;
}